html, body, figure, figcaption, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin-top: 30px;
}

h2 {
  margin: 10px;
  font-size: 20px;
}

h3 {
  margin-top: 10px;
}

figure {
  display: inline-block;
  border: 10px solid black;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.apple {
  background: red;
}

.snake {
  background: lightgreen;
}

.snake-head {
  background: green;
}

.computer {
  background: lightgray;
}

.computer-head {
  background: gray;
}

.paused {
  display: none;
  position: absolute;
  width: 130px;
  left: 50%;
  top: 500px;
  transform: translate(-50%, 0);
}

.won, .lost {
  display: none;
  position: absolute;
  width: 130px;
  left: 50%;
  top: 300px;
  transform: translate(-50%, 0);
}

.show, .gameover {
  display: block;
}

.footer {
  padding-top: 10px;
}

.links {
  padding: 20px;
  width: 480px;
  margin: auto;
}

.links > div {
  float: left;
}

.links > div > div {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  margin: 0 30px;
  overflow: hidden;
}

.links > div > div img {
  height: 100%;
}
